<mat-card class="cocktail-card">

    <mat-card-header>
        <div mat-card-avatar class="dog-header-image"></div>
        <mat-card-title>{{recipe.name}}</mat-card-title>
        <mat-card-subtitle>Cocktail</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{recipe.picture}}" alt="Photo of a {{recipe.name}}">
    <mat-card-content>
        <p>
            {{recipe.description}}
        </p>
        Ingredients:
        <li *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.ingredient.name}}
            ({{ingredient.quantity}}
            {{ingredient.unit}})
        </li><br>

        <li *ngFor="let instruction of recipe.instructions">
            {{instruction}}
        </li>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>

</mat-card>